.root {
  max-width: 100%;
  min-height: 3000px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    314deg,
    #e9f9ff 0%,
    #f4fcff 22.27%,
    #fcfeff 44.27%,
    #fff 100%
  );
  margin: 0 auto;
  min-height: 460px;
  text-align: center; /* 텍스트를 중앙 정렬하기 위해 추가 */
}

.shape1 {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transform: scale(0.7);
  bottom: -160px;
  right: -150px;
}

.shape2 {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transform: scale(0.65);
  top: 130px;
  left: -20px;
}

.shape3 {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  transform: scale(0.35);
  top: -540px;
  right: -14px;
}

.shape4 {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transform: scale(0.9);
  bottom: -380px;
  left: -190px;
}

.others {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  width: 72%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  padding: 0 300px;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  width: 9%;
  height: auto;
}

.loginSignup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.linkBtn {
  text-decoration: none;
  color: #383838;
}

.section1Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pagetitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 20px;
}

.pagetitle > p:nth-child(1) {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 0px;
}

.pagetitle > img {
  width: 25%;
  height: auto;
  margin: 0;
}

.pagetitle > p:nth-child(3) {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: -8px;
}

.startBtn {
  width: 234px;
  height: 68px;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #00bfff;
  box-shadow: 2px 3px 4px #00000029;
  border-radius: 6px;
  cursor: pointer;
}

.iMackImg {
  width: 70%;
  height: auto;
}

.section1Logo {
  width: 10%;
  height: auto;
}

/* section2 */
.section2 {
  min-height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가운데 정렬을 위해 추가 */
  align-items: center; /* 가운데 정렬을 위해 추가 */
  padding-top: 100px;
  padding-bottom: 100px;
}

.article1 {
  width: 72%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

.articleContent {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.articleTitle {
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
}

.article1Arrow {
  position: absolute;
  z-index: -1;
  width: 10%;
  margin: 100px 0px 20px -70px;
  height: auto;
}

.articleSub {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}

.article_img {
  width: 50%;
  height: auto;
  margin-right: -36px;
}

.article2 {
  width: 72%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

.articleImg {
  width: 60%;
  margin: 0;
}

.micAnim {
  position: absolute;
  z-index: 1;
  width: 23%;
  height: auto;
  margin: -170px 0px 20px 50px;
}

.playAnim {
  position: absolute;
  z-index: 1;
  width: 11%;
  height: auto;
  margin: 20px 0px 0px 220px;
}

.article2Mic {
  position: absolute;
  z-index: -1;
  width: 11%;
  margin: 12px 0px 10px 280px;
  height: auto;
}

.article3 {
  width: 72%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

.article3AI {
  position: absolute;
  z-index: -1;
  width: 13%;
  margin: 0px 0px 10px 200px;
  height: auto;
}

/* section3 */
.section3 {
  min-height: 980px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬을 위해 추가 */
  justify-content: center; /* 가운데 정렬을 위해 추가 */
  text-align: center;
  padding-top: 100px;
  background: linear-gradient(
    0deg,
    #e9f9ff 0%,
    #f4fcff 22.27%,
    #fcfeff 44.27%,
    #fff 100%
  );
}

.section3Title {
  font-size: 48px;
  font-weight: 800;
  line-height: 66px;
}

.section3Text {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 0px;
  color: #00bfff;
  margin-bottom: 50px;
}

.section3People {
  width: 62%;
  height: auto;
}

.arrowAnim {
  width: 7%;
  margin: 60px auto;
}

.startBtn2 {
  width: 250px;
  height: 74px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #00bfff;
  box-shadow: 2px 3px 4px #00000029;
  border-radius: 6px;
  cursor: pointer;
}

/*footer*/
.footer {
  min-height: 490px;
  background-color: #dedede;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬을 위해 추가 */
  justify-content: center; /* 가운데 정렬을 위해 추가 */
}

.footerLogo {
  width: 9%;
  height: auto;
  float: left;
  margin: 65px 120px;
}

.articleFooter {
  font-family: "Arimo_MED";
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 18px;
  position: absolute;
  left: 120px;
  top: 110px;
}

.member1 {
  position: absolute;
  top: 160px;
  left: 120px;
}

.member1 > p {
  display: inline-block;
}

.PL {
  font-size: 16px;
  font-family: "Arimo_MED";
  letter-spacing: -1px;
}

.DS {
  font-size: 16px;
  font-family: "Arimo_MED";
  letter-spacing: -1px;
  margin-left: 46px;
}

.FE {
  font-size: 16px;
  font-family: "Arimo_MED";
  letter-spacing: -1px;
  margin-left: 115px;
}

.BE {
  font-size: 16px;
  font-family: "Arimo_MED";
  letter-spacing: -1px;
  margin-left: 125px;
}

.member2 > p {
  display: inline-block;
}

.member3 > p {
  display: inline-block;
}

.member2 {
  position: absolute;
  left: 120px;
  top: 190px;
}

.member3 {
  position: absolute;
  left: 120px;
  top: 220px;
}

.member4 {
  position: absolute;
  left: 120px;
  top: 250px;
}

.member4 > p {
  display: inline-block;
}

.footerTitle {
  font-family: "Arimo_RGR";
  letter-spacing: -1px;
  position: absolute;
  bottom: 100px;
  left: 120px;
  font-size: 16px;
}

.fhr {
  position: absolute;
  bottom: 70px;
  border: #cecece 1px solid;
  width: 100%;
}
