li {
  list-style-type: none;
}

.root {
  margin-left: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  margin: 0;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 32px 0 24px 24px;
  font-size: 26px;
  font-weight: 800;
}

.rank {
  font-weight: bold;
  margin-right: 8px;
}